<div class="inner cover">
  <div class="page_not_found">
    <h1 class="">Oops!</h1>
    <h3 class="">This is awkward</h3>
    <p class="">You are looking for something
      <br>
      that does not actually exist....</p>

    <hr>

    <p class="lead">
      <a href="/" class="btn btn-lg btn-outline-primary">Try going to our Homepage</a>
    </p>
  </div>
</div>