<div class="inner cover">
  <h1 class="cover-heading">Micro Learning App</h1>
  <p class="lead">Micro-Learning app is a responsive web application that sends you one page per day about something you want to learn.</p>
  <hr>
  <p class="lead">
    <a href="/learn" class="btn btn-lg btn-outline-success">Learn more</a>
  </p>
</div>