<div class="card">
  <div class="card-block">
    <form action="" method="post">
      <div class="form-group">
        <label for="exampleSelect1">Select a category</label>
        <select name="name" class="form-control" id="exampleSelect1">
          <option>Health</option>
          <option>Music</option>
          <option>Bitcoin</option>
          <option>Football</option>
          <option>Technology</option>
        </select>
      </div>
      <div class="col-md-12">
        <a class="btn btn-outline-danger" href="/learn">Cancel</a>
        <button type="submit" class="btn btn-outline-success">Submit</button>
      </div>

    </form>
  </div>
</div>
