<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <title>Micro-Learning app</title>
  <link rel='stylesheet' type='text/css' href='bootstrap.min.css'>
  <link rel='stylesheet' type='text/css' href='style.css'>
</head>

<body>

<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">

      <%= partial('shared/_nav') %>

      <%= yield %>

      <%= partial('shared/_footer') %>

    </div>
  </div>
</div>

<script src="jquery.min.js"></script>
<script src="tether.min.js"></script>
<script src="bootstrap.min.js"></script>
</body>
</html>
