<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <title>Micro-Learning app</title>
  <link rel='stylesheet' type='text/css' href='bootstrap.min.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' type='text/css' href='style.css'>
</head>

<body>

<div class="site-wrapper background-img">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div>
        <%= partial('shared/_nav') %>
        <%= partial('shared/_flash') %>
      </div>
      <div>
        <%= yield %>
      </div>
      <div>
        <%= partial('shared/_footer') %>
      </div>
    </div>
  </div>
</div>

<script src="jquery.min.js"></script>
<script src="tether.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="show-password.min.js"></script>
</body>
</html>
